extends layout

block content
    title news List
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type="text/javascript").

    script(src='/javascripts/dashBoardFrontContreller.js',).
    script(src='/javascripts/draftController.js')
    body
    h1
    #newsDashboardTable-table

        form.borderSimple
            label(for='nameId') CHOOSE NAME
            br
            textarea.textArea(name='item', rows=1, placeholder='Choose Name....', required='', id='nameId')
            br
            label(for='titleId') INPUT TITLE
            br
            textarea.textArea(id='titleId', name='news', rows=3, placeholder='input title of news(EN)', required='', autofocus='')
            br
            label(for='newsTextId') INPUT  TEXT
            br
            textarea.textArea(id='newsTextId', rows=5, name='news', placeholder='input text of news(EN)', required='', autofocus='', )
            br
            span.input-group-addon Choose Image
            div#MyModel.modal
             div#viewDiv.modal-content
                 span#closeBtn.close &times;
                 p PREVIEW
                 div
                        .full
                            .middle
                                .imgDiv
                                     img#dataImage.img
                                     h2#title
                                     p#text
            div(class='styled')
             select(name='images', id='dropdownId')
                each  value in data1
                    option.test #{value.path}
            div#toggleDiv(style="display:none")
                button#submitChanges(type='button',class='button')
                    span save changes
            button(type='submit' class='button')
                span save(draft)
            button(class='button', type='button', id='view')
                span view
            button(type='button', class='button',  id = "editBtn")
                span edit
            button(type='button', class='button', id='delete')
                span delete
            button(type='button', class='button', id='clearId')
                span clear fields
            button(type='button', class='button', id='publish')
                span publish(LIVE)
        ol.olSettings#getStarted(class='list-group')
            each val in data
                li(class='list-group-item-active', id="itsnewId") #{val.name}
                br