body {

    font-family: Cambria;
    padding-top: 70px;
    background-image: url("../images/fordivBcg.png");

}

#newsDashboardTable-table {
    position: relative;
    width: 96%;
    background: #234b47;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

.buttonGlobal {
    padding: 20px;
    float: left;
    border-radius: 25px;
/ / background: #945104;
    border: 0;
    box-sizing: border-box;
    color: #fbffdb;
    cursor: inherit;
    font-size: 20px;
}

li {
    background: #fefdff;
    cursor: pointer;
    height: 20%;
    width: 95%;
    border-style: solid;

}

li:hover {
    text-decoration: InfoText;
    color: blue;
    background: rgb(0, 123, 150);
}

h1 {

    background: url("../images/logo.png") no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
    padding-top: 350px;
}

.buttonToLi {
    margin-left: 2%;
}

.selected {
    background: #2b3a96;
}

.borderSimple {
    box-sizing: border-box;
    border: 2px solid;
}

.olSettings {
    width: 100%;
}

.textArea {
    width: 95%;
    background: #000000;
    color: rgb(240, 255, 250)
}

ol li.selected {
    background: rgb(12, 12, 12);
    border-color: blue;
}

ol li.not-selected {
    background-color: #fdfff2;
}

.button {
    border-radius: 50px;
    background-color: rgb(56, 50, 56);
    border: 3px solid;
    color: #e6efff;
    text-align: center;
    font-size: 16px;
    width: 10%;
    transition: all 0.5s;
    cursor: grabbing;
    margin: 10px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5%;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 12%
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

ol {
    color: #965300;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    padding-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;

    width: 50%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0, 46, 150); !* Fallback color *!*/
    /*background-color: rgba(0, 0, 0, 0.77); !* Black w/ opacity *!*/
}

/* Modal Content */
.modal-content {
    background-image: url(../images/fordivBcg.png);
    border: 6px solid #2c2635;
    padding: 15px;
    height: auto;
    width: 60%;
    margin: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.full {
    width: auto;
    border-radius: 20px;
    border: 3px solid;
    border-color: #240905;
    background: #4a2e01;
    padding-bottom: 2%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
}

.middle {
/ / height: 85 %;
    padding-bottom: 5px;
    width: 90%;
    background: #b87203;
    border-radius: 20px;
    margin: auto;
    margin-top: 2%;
    border: 3px solid;
    border-color: #f8b33d;
}

.imgDiv {
    height: 40%;
    width: 90%;
    border-radius: 15px;
/ / border: 2 px solid;
    border-color: #f8b33d;
    margin: auto;
    margin-top: 2%;
}

.img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.alart {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

button.seletedButton {
    background: #900300;
}

button.non-seletedButton {
    background-color: rgb(56, 50, 56);
}
